{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}
<h1 class="text-center">{{_('Contato')}}</h1><br>
<h4 class="text-center">{{_('Preencha o formulário abaixo ou mande mensagem no
  <a href="https://t.me/dadoslivres" target="_blank" id="color-red">
    grupo do Telegram</a>.')}}</h4><br><br>
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
      {{ wtf.quick_form(form) }}
  </div>
  <div class="col-md-3"></div>
</div><br><br>
{% endblock %}
