{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}
  <div class="row">
    <div class=" col-md-12 text-center">
      <h1>Ranking de Colaboração</h1><br><br>
      <img src="static/image/ranking.png" alt="ícone de troféu">
    </div>
  </div><br><br><br>
  <div class="row">
    <div class="col-md-12">
      <h3>Por fontes cadastradas:</h3><br>
      <ol>{% for user in sources %}<hr><li>{% include '_rankingSources.html' %}</li>
        <hr>{% endfor %}</ol><br><br>
    </div>
    <div class="col-md-12">
      <h3>Por aplicações cadastradas:</h3><br>
      <ol>{% for user in softwares %}<hr><li>{% include '_rankingSoftwares.html' %}</li>
        <hr>{% endfor %}</ol>
    </div>
  </div><br><br><br>
<div class="row">
  <div class="col-md-12">
    Créditos: Icons made by <a href="https://www.freepik.com" id="color-red"
    title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/"
    id="color-red" title="Flaticon">www.flaticon.com</a>.
  </div>
</div>
{% endblock %}
